@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-background-light: #f0f4f8;
  --color-background-dark: #1a202c;
  --color-text-light: #333333;
  --color-text-dark: #e2e8f0;
  --color-primary: #1a73e8;
  --color-primary-light: #4dabf7;
  --color-primary-dark: #0c47a1;
  --color-secondary: #ff6f61;
  --color-secondary-light: #ff8a80;
  --color-secondary-dark: #c43e00;
}

body {
  @apply bg-background-light text-text-light dark:bg-background-dark dark:text-text-dark;
}

.dark body {
  @apply bg-background-dark text-text-dark;
}

* {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  width: calc(300px * 6); /* Adjust based on the number of cards */
  animation: scroll 20s linear infinite;
}
